<h1>Warehouse Details</h1>
<h2>List of Products</h2>

<table>
	<thead>
	    <th>OrderID</th>
		<th>Order Date</th>
		<th>Processing Time</th>
		<th>Shipping Date</th>
		<th>Comments</th>
	</thead>
</table>


