<div class="jumbotron">
  <h1 class="display-4">Welcome to e-Store</h1>
  <p class="lead">e-Store management dashboard for Admin</p>
  <hr class="my-4">
  <p>Please login to continue to the dashboard</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
</div>